{% extends 'base.html'%}
{% block content %}
    <div class="content" style="text-align: center">
        <div>添加关键字</div>
        <div class="table1">
            <table border="1">

                <tr>
                    <th>关键字</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                {% for item in data %}
                    <tr>
                        <td>{{item.keyword}}</td>
                        <td>{{ item.insertdate }}</td>>
                        <td><a href="{{ item.url }}">删除</a>
                            <a href="{{ item.url }}">保存</a></td>
                    </tr>
                {% endfor %}
            </table>
            </div>
    </div>
{% endblock %}